.enterprise-list-page {
  .page {
    &-title {
      font-size: 2rem;
      font-weight: 700;
    }

    &-action-main {
      width: 70%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      margin: 1.5rem 0;
    }

    &-search-box {
      width: 75%;
    }

    &-navigate-link {
      padding: 0.25rem 2.5rem;
      color: white;
      background-color: rgb(19, 194, 194);
      display: block;
      white-space: nowrap;
    }
  }

  .import-excel-file-btn {
    .ant-btn {
      background-color: rgb(19, 194, 194);
      color: white;
    }

    .ant-btn:not(.ant-dropdown-trigger) {
      padding: 0.25rem 2.5rem;
      display: block;
      white-space: nowrap;
    }
  }

  .menu-item {
    padding: 0.5rem 2.5rem;
  }

  .table-pagination .ant-pagination-options {
    display: none;
  }

  .enterprise-list {
    &-container {
      th.ant-table-cell {
        padding: 0;
      }

      .ant-table-content {
        width: 100%;
        overflow: auto;
      }
    }

    &__reset-btn {
      display: block;
      margin-left: auto;
      margin-bottom: 1rem;
    }

    &__header-cell {
      display: block;
      width: 100%;
      padding: 1rem;
    }

    &__import-excel {
      padding: 0.25rem 2.5rem;
    }
  }
}

.enterprise-list__header__actions-container {
  .ant-popover-inner-content {
    padding: 0;
  }
}
