@import './main.less';

@import './antd.reset.less';

@import './theme.less';

.capitalized {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.w-1\/2 {
  width: 50%;
}

.gap-10 {
  gap: 2.5rem;
}

.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.cursor-pointer {
  cursor: pointer;
}
