@import './main.less';

@import './antd.reset.less';

@import './theme.less';

.capitalized {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.w-1\/2 {
  width: 50%;
}

.h-full {
  height: 100%;
}

.gap-10 {
  gap: 2.5rem;
}

.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.p-0 {
  padding: 0 !important;
}

.white-space-wrap {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.max-w-25 {
  max-width: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.m-0 {
  margin: 0;
}
